body {
    font-family: 'Tahoma';
    background-color: #fdf5ff;
    margin: 0;
    color: #232323;
}

#app {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}


.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    border-radius: 15px;
    background-color: white;
    border: #fce7ff;
    box-shadow: 0 4px 6px rgb(232, 222, 238);
    transition: transform 0.4s ease-in-out;
}

.card {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #d2d0d0;
    box-shadow: 0 4px 6px rgba(232, 222, 238, 0.5);
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

